node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

#Hardhat deploy
deployments/

# vscode
.vscode/

# The Graph
build/
generated/

# prettiecr
.prettierrc

#yarn
yarn.lock